@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}

.page{
    font-family: Inter , sans-serif;
    background-color:white;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    margin:0.5rem .5rem 0rem .5rem;    

}
.hidden{
    border: none;
    position: absolute;
    opacity: 0;
    z-index:-999;
    
}
.nav-items{
    display: flex;
    flex-direction: column;
    position: absolute;   
    top: 0;
    right: 0;
    bottom: 0;
    background-color:hsl(48, 71%, 99%);
    min-width:70vw;
    z-index:999;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav-link{
    list-style: none;   
    padding:1rem 1rem 1rem 1.5rem;
}
.nav-link a{
    text-decoration: none;
}
.menu-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.close-btn{
    display: flex;
    justify-content:end;
    padding: 1rem;
    cursor: pointer;
}

.page-main-content{
    display: grid;
    max-width: 90vw;
    margin: 1.5rem auto;
}

.page-main-content img{
    max-width: 100%;
    max-height: 100%;
}
.content-heading{
    font-family: Inter , sans-serif;
    line-height: 2.5rem;
    margin: 1rem 0rem;
    font-size: 1.25rem;
    font-weight: 800;
}
.content-description{
    font-size: 0.9375rem;
    line-height: 1.5rem;
    opacity: 0.62;
}
.readmore-btn{
    border: none;
    border-radius: 0px;
    max-width: 12rem;
    min-height: 3rem;
    background-color: hsl(5, 85%, 63%);
    color: white;
    margin-top: 1rem;
}
.readmore-btn span{
    font-weight: 700;
    letter-spacing: .3rem;
}
.new-article-section{
    display: grid;
    max-width: 90vw;
    align-items: start;
    margin: 1.5rem auto;
    background-color: hsl(240, 100%, 5%);
}
.section-container{   
    padding: 1.5rem;
    background-color: hsl(240, 100%, 5%);
}

.section-heading{
    margin-top: .5rem;
    font-size: 1.8rem;
    color: hsl(35, 77%, 62%);
}
.section-container div.article{
    border-bottom: 1px solid;
}
.section-container div.article:last-child{
    border: none;
}
.article{
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
    
}
.article-header{
    color: white;
    padding-bottom: 1rem;
}
